<div class = "user-form-box">    
    <div class = "user-form-container">
        <div class = "user-form-content">
            <h1 class = "user-new-text">プロフィール設定</h1>
            <%= render partial: 'form' %>
        </div>
    </div>
</div>