html {
    height: 100%;
    width: 100%;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.body1 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    background-color: none;
}
a:hover {
    text-decoration: none;
}
.navigate {
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination {
    display: block;
    text-align: center;
}
.page {
    padding: 10px;
}
.first {
    padding: 10px;
}
.prev {
    padding: 10px;
}
.next {
    padding: 10px;
}
.last {
    padding: 10px;
}
.page, .first, .prev, .next, .last {
    font-size: 20px;
}

.hide-message {
    display: none;
}

@media screen and (min-width: 1024px) {
    /* ryoken.html.erb */
    .header {
        width: 100%;
        height: 100px;
        background-color: #9fd8df;
        position: fixed;
        top: 0;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .ryoken-title {
        font-size: 70px;
        margin-left: 30px;
    }
    .ryoken-title-path {
        color: #f0e4d7;
    }
    .bars {
        display: none;
    }
    .global-nav {
        padding-left: 0px;
        margin-right: 20px;
    }
    .nav-ul, .nav-list {
        list-style: none;
        padding-left: 0;
    }
    .nav-list {
        display: inline-block;
        margin-right: 20px;
    }
    .nav-list-hide {
        display: none;
    }
    .nav-list-path {
        color: #f0e4d7;
        font-size: 20px;
    }
    .header-nav-search {
        display: flex;
    }
    .search-form {
        margin-right: 20px;
    }
    .search-form-res {
        display: none;
    }
    .message {
        margin-top: 100px;
        background-color:#ff7171;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    /* set-up */

    .main-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .main-title {
        font-size: 150px;
        padding: 0px;
        color: #f0e4d7;
    }
    .main-text {
        font-size: 20px;
        color: #f0e4d7;
        margin-top: 50px;
        margin-left: 20px;
        text-align: center;
    }
    .main-content-box {
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:center;
        justify-content:center;
        text-align: center;
    }
    .login-link-1, .login-link-2 {
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        border-radius: 10%;
        color: #fff;
    }
    .login-link-1 {
        background-color: #f5c0c0;
        margin-right: 20px;
    }
    .login-link-2 {
        background-color: #ff7171;
        margin-left: 20px;
    }
    .login-link-1:hover, .login-link-2:hover {
        background: #9fd8df;
    }
    .guest-login {
        text-align: center;
        margin-top: 20px;
    }
    /* login */
    .login-container-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
        padding: 0;
    }
    .login-container {
        padding: 0;
        height: 100%;
        width: 50%;
        margin: 0 auto;
        background-color: #f0e4d7;
    }
    .login-form-box {
        width: 50%;
        padding-top: 100px;
        margin: 0px auto;
    }
    .login-title {
        margin-top: 0;
    }
    .field {
        margin-bottom: 20px;
    }
    .text-field {
        width: 300px;
        height: 20px;
    }
    .actions {
        margin-bottom: 20px;
    }
    .actions-btn {
        background-color: #f5c0c0;
        width: 80px;
        height: 40px;
        border: solid 0.3px #f5c0c0;
        border-radius: 10%;
        color: #fff;
    }
    .actions-btn:hover {
        background: #9fd8df;
    }
    .login-form-link {
        margin-bottom: 100px;
    }
    .actions-btn-2 {
        background-color: #ff7171;
        width: 80px;
        height: 40px;
        border: solid 0.3px  #ff7171;
        border-radius: 10%;
        color: #fff;
    }
    .actions-btn-2:hover {
        background: #9fd8df;
    }
    /* users.new.html.erb edit.html.erb */

    .form-nickname {
        width: 300px;
        height: 30px;
        margin-top: 20px;
    }
    .form-profile {
        width: 300px;
        height: 80px;
        margin-top: 20px;
    }
    .user-form-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .user-form-container {
        height: 100%;
        width: 50%;
        margin: 0 auto;
        background-color: #f0e4d7;
    }
    .user-form-content {
        width: 50%;
        padding-top: 100px;
        margin: 0px auto;
    }

    /* users index.html.erb*/
    .section-cookpost-users {
        margin: 30px 0;
    }
    .my-cooking-name {
        margin-bottom: 50px;
        font-size: 70px;
    }
    .user-nickname {
        white-space: nowrap;
        display: inline-block;
    }
    .my-profile-cansel {
        padding-top: 100px;
    }
    .cooking-ingredients-title {
        margin: 50px 0;
        background-color: #f0e4d7;
        border-left: #f0d7d7 20px solid;
        padding: 20px;
    }
    .cooking-recipe-title {
        background-color: #f0e4d7;
        border-left: #f0d7d7 20px solid;
        margin: 50px 0;
        padding: 20px;
    }
    .cooking-name {
        margin: 30px 0;
    }

    /* cooks index.html.erb (root)*/

    .cooks-container {
        width: 70%;
        margin: 0px auto;
        padding-top: 150px;
    }
    .section-cookpost {
        border-bottom: 1px solid #f0e4d7;
        margin-top: 20px;
    }
    .cooking-name {
        margin-bottom: 20px;
    }

    /* cookposts.index.html.erb */

    .my-cooking-name {
        display: inline-block;
    }
    .delete-path {
        display: inline-block;
        margin-left: 10px;
    }
    .edit-path {
        display: inline-block;
        margin-left: 30px;
    }
    .my-post {
        margin-top: 20px;
        font-size: 30px;
    }
    .log-out-path {
        display: inline-block;
        margin-left: 10px;
    }

    /* search.html.erb */

    .hit-text {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    /* cookpost _form.html.erb */
    .cookposts-form-box {
        height: auto;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .cookposts-form-container {
        height: auto;
        width: 75%;
        margin: 0 auto;
        background-color: #f0e4d7;
        padding-bottom: 30px;
    }
    .cookposts-form-content {
        height: auto;
        width: 75%;
        padding-top: 100px;
        margin: 0px auto;
    }
    .form-cooking-name {
        width: 300px;
        height: 30px;
        margin-top: 20px;
    }
    .form-ingredients {
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }
    .form-cooking-recipe {
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }
    .img_field {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image-container-0 {
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 100px;
        line-height: 100px;
        background-color: #f5c0c0;
        margin-right: 150px;
    }
    .image-container-1 {
        display: inline-block;
        width: 200px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-2 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-3 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-4 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-5 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .item-image {
        display: inline-block;
        vertical-align:  top;
    }
    .item-num-0 {
        padding-left: 0;
    }
    #image-box-1 {
        padding-left: 0;
    }

    .cookposts-cansel-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .cookposts-cansel-container {
        height: 100%;
        width: 75%;
        margin: 0 auto;
        background-color: #f0e4d7;
        padding-bottom: 30px;
    }
    .cookposts-cansel-content {
        height: 100%;
        width: 75%;
        padding-top: 100px;
        margin: 0px auto;
    }
    .cansel-text {
        font-size: 30px;
        color: #ff7171;
    }
    .cansel-text2 {
        font-size: 30px;
        color: #ff7171;
    }
}
@media screen and (max-width: 1023px) {

    html {
        height: auto;
        width: 100%;
        padding: 0;
    }
    body {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* ryoken.html.erb */
    .header {
        width: 100%;
        height: 200px;
        background-color: #9fd8df;
        position: fixed;
        top: 0;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .ryoken-title {
        font-size: 140px;
        margin-left: 30px;
    }
    .ryoken-title-path {
        color: #f0e4d7;
    }
    .bars {
        display: inline-block;
        margin-right: 20px;
        font-size: 100px;
        color: #f0e4d7;;
    }
    .nav-list-hide {
        display: inline-block;
    }
    .global-nav {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: #fff;
        color: #333;
        text-align: center;
        transform: translatex(100%);
        transition: all 0.6s;
        width: 100%;
    }
    .nav-ul {
        background: rgb(240, 228, 215);
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .global-nav ul li:last-child {
        font-size: 40px;
        padding: 20px 0;
        border-bottom: none;
    }
    .global-nav ul li a {
        color: #333;
        display: block;
        padding: 1em 0;
    }
    .nav-active {
        transform: translatex(0%);
    }
    .nav-list {
        display: block;
        width: 100%;
        border-bottom: solid #333 1px;
    }
    .nav-list-path {
        font-size: 40px;
    }
    .nav-list:hover {
        background-color: #9fd8df;
    }
    .header-nav-search {
        display: flex;
    }
    .search-form {
        display: none;
    }
    .search-form-res {
        display: block;
        margin-top: 260px;
        width: 100%;
        text-align: right;
        margin-right: 20px;
        position: fixed;
        right: 0;
        z-index: 2;
    }
    .message {
        margin-top: 200px;
        padding-top: 40px;
        height: 150px;
        font-size: 20px;
        background-color:#ff7171;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .fa-times-circle {
        font-size: 40px;
    }
    /* set-up */

    .main-box {
        height: auto;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .main-content-box {
        height: auto;
        width: 100%;
        text-align: center;
        padding-top: 200px;
    }
    .login-box {
        height: auto;
    }
    .main-title {
        font-size: 150px;
        margin-bottom: 100px;
        padding: 0px;
        color: #f0e4d7;
    }
    .main-text {
        font-size: 50px;
        color: #f0e4d7;
        margin-top: 50px;
        margin-left: 30px;
        padding-bottom: 830px;
        text-align: center;
    }
    
    .main-title {
        font-size: 15rem;
        white-space: nowrap;
    }
    .login-link-1, .login-link-2 {
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        border-radius: 10%;
        color: #fff;
        font-size:25px;
    }
    .login-link-1 {
        background-color: #f5c0c0;
        margin-right: 20px;

    }
    .login-link-2 {
        background-color: #ff7171;
        margin-left: 20px;
    }
    .login-link-1:hover, .login-link-2:hover {
        background: #9fd8df;
    }
    
    .guest-login {
        text-align: center;
        margin-top: 20px;
    }

    /* login */
    .login-container-box {
        height: auto;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .login-container {
        height: auto;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(240, 228, 215, 0.5);
    }
    .login-form-box {
        height: auto;
        width: 50%;
        padding-top: 100px;
        margin: 0px auto;
    }
    .login-title {
        margin-top: 0;
    }
    .field {
        margin-bottom: 20px;
    }
    .text-field {
        width: auto;
        height: 20px;
    }
    .actions {
        margin-bottom: 20px;
    }
    .actions-btn {
        background-color: #f5c0c0;
        width: 80px;
        height: 40px;
        border: solid 0.3px #f5c0c0;
        border-radius: 10%;
        color: #fff;
    }
    .actions-btn:hover {
        background: #9fd8df;
    }
    .login-form-link {
        margin-bottom: 100px;
    }
    .actions-btn-2 {
        background-color: #ff7171;
        width: 80px;
        height: 40px;
        border: solid 0.3px  #ff7171;
        border-radius: 10%;
        color: #fff;
    }
    .actions-btn-2:hover {
        background: #9fd8df;
    }
    .login-form {
        height: 100%;
    }
    .sign-up-link {
        height: 500px;
    }

    /* users.new.html.erb edit.html.erb */

    .form-nickname {
        width: auto;
        height: 30px;
        margin-top: 20px;
    }
    .form-profile {
        width: auto;
        height: 80px;
        margin-top: 20px;
    }
    .user-form-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .user-form-container {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(240, 228, 215, 0.5);
    }
    .user-form-content {
        width: 50%;
        padding-top: 100px;
        margin: 0px auto;
    }

    /* users index.html.erb*/
    .section-cookpost-users {
        margin: 30px 0;
    }
    .my-cooking-name {
        margin-bottom: 50px;
        font-size: 70px;
    }
    .user-nickname {
        font-size: 60px;
        white-space: nowrap;
        display: inline-block;
    }
    .my-profile-cansel {
        padding-top: 400px;
    }
    .cooking-ingredients-title {
        margin: 50px 0;
        background-color: #f0e4d7;
        border-left: #f0d7d7 20px solid;
        padding: 20px;
    }
    .cooking-recipe-title {
        background-color: #f0e4d7;
        border-left: #f0d7d7 20px solid;
        margin: 50px 0;
        padding: 20px;
    }
    .cooking-name {
        margin: 30px 0;
    }
    /* cooks index.html.erb (root)*/

    .cooks-container {
        width: 50%;
        margin: 0px auto;
        padding-top: 400px;
    }
    .section-cookpost {
        border-bottom: 1px solid #f0e4d7;
        margin-top: 20px;
    }
    .cooking-name {
        margin-bottom: 20px;
        font-size: 50px;
    }
    .cooking-nickname {
        font-size: 30px;
        margin-top: 20px;
    }
    .fa-star {
        font-size: 30px;
        margin: 20px 0;
    }

    /* show.html.erb cooks */

    .cooking-ingredients {
        font-size: 30px;
    }
    .cooking-recipe {
        font-size: 30px;
    }

    /* cookposts.index.html.erb */

    .my-cooking-name {
        display: inline-block;
    }
    .delete-path {
        display: inline-block;
        font-size: 30px;
        margin-left: 20px;
    }
    .edit-path {
        display: inline-block;
        margin-left: 20px;
        font-size: 30px;
    }
    .log-out-path {
        margin-left:20px;
        font-size: 30px;
    }
    .my-post {
        margin-top: 20px;
        font-size: 30px;
    }

    /* search.html.erb */
    .hit-text {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .user-profile {
        font-size: 30px;
    }
    .user-profile-text {
        font-size: 20px;
    }

    /* cookpost _form.html.erb */
    .root-path {
        margin-top: 70px;
        font-size: 30px;
    }
    .cookposts-form-box {
        height: auto;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .cookposts-form-container {
        width: 100%;
        margin: 0 auto;
        background-color: rgba(240, 228, 215, 0.5);
    }
    .cookposts-form-content {
        width: 50%;
        padding-top: 100px;
        padding-bottom: 30px;
        margin: 0px auto;
    }
    .form-cooking-name {
        width: 300px;
        height: 30px;
        margin-top: 20px;
    }
    .form-ingredients {
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }
    .form-cooking-recipe {
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }
    .img_field {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image-container-0 {
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 100px;
        line-height: 100px;
        background-color: #f5c0c0;
        margin-right: 150px;
    }
    .image-container-1 {
        display: inline-block;
        width: 200px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-2 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-3 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-4 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .image-container-5 {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #f5c0c0;
    }
    .item-image {
        display: inline-block;
        vertical-align:  top;
    }
    .item-num-0 {
        padding-left: 0;
    }
    #image-box-1 {
        padding-left: 0;
    }

    .cookposts-cansel-box {
        height: 100%;
        width: 100%;
        background-image: url('mediterranean-cuisine-2378758_1920.jpg');
        background-size:cover;
    }
    .cookposts-cansel-container {
        height: 100%;
        width: 75%;
        margin: 0 auto;
        background-color: #f0e4d7;
        padding-bottom: 30px;
    }
    .cookposts-cansel-content {
        height: 100%;
        width: 75%;
        padding-top: 100px;
        margin: 0px auto;
    }
    .cansel-text {
        font-size: 30px;
        color: #ff7171;
    }
    .cansel-text2 {
        font-size: 30px;
        color: #ff7171;
    }

}

/* image */

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.25s ease-out;
}
.modal-wrapper.show {
    opacity: 1;
    pointer-events: all;
}
.modal-image {
    margin-top: 100px;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0;
    transition: 0.5s ease-out;
}
.modal-image.show {
    opacity: 1;
}
.image {
    cursor: pointer;
}

/* user.index.html.erb menu */

.user-menu-hide {
    display: none;
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}
.user-menu {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 30px;
    list-style: none;
}
.user-menu-list {
    margin-top: 10px;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}
.fa-sort-down {
    margin-left: 10px;
    transition: all 500ms 0s ease;
}
.fa-active {
    transform: rotate(0.5turn);
}
.user-menu-hide-2 {
    display: none;
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}
.user-menu-2 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 30px;
    list-style: none;
}
.user-menu-list-2 {
    margin-top: 10px;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid rgba(51, 51, 51, 0.5);
}